<div class="quadricLayout">
    <div class="quadricLayout__screen" (click)="toggleExpandScreen($event)">
        <div class="quadricLayout__content">
            <span>Sample Header</span>
            <img src="//upst.fwdcdn.com/temp/holidays/9623/logo_ua.gif"/>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
        </div>
    </div>

    <div class="quadricLayout__screen" (click)="toggleExpandScreen($event)">
        <div class="quadricLayout__content">
            <span>Sample Header</span>
            <img src="//upst.fwdcdn.com/temp/holidays/9623/logo_ua.gif"/>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
        </div>
    </div>

    <div class="quadricLayout__screen" (click)="toggleExpandScreen($event)">
        <div class="quadricLayout__content">
            <span>Sample Header</span>
            <img src="//upst.fwdcdn.com/temp/holidays/9623/logo_ua.gif"/>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
        </div>
    </div>

    <div class="quadricLayout__screen" (click)="toggleExpandScreen($event)">
        <div class="quadricLayout__content">
            <span>Sample Header</span>
            <img src="//upst.fwdcdn.com/temp/holidays/9623/logo_ua.gif"/>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
            <span>Sample text</span>
            <span>Sample big big big big big text</span>
            <span>Sample big big big <br/> big big text</span>
        </div>
    </div>
</div>